
.theme.col {
    @include gridsys($map-col);
}   



.centered {
    @include media {
        @include img();
    } 
}

.container {
    padding: 0 10px;
    @include media {
        max-width: 1400px;
        @include img();
    } 
}
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @include media {
        flex-direction: row;
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include media{
        @include flexy($disp: flex, $just-c: center);
        margin-top: 0;
        align-items: center;
    }
  }

  [class^=col] + [class^=col] {
      @include media{
        margin-left: 10px;
      }
    }

  .card {
    flex-basis: 100%;
  }

 

.col {
    @include colwid($col-wid);
}